.headingtitle {
    text-align: center;
    padding: 40px 0;
}
    .headingtitle h2.main-heading {
        font-size: 28px;
        line-height: 20px;
        margin: 0 auto;
        display: inline-block;
        color: #6570d3;
    }
img, figure {
    width: 100%;
}
.bgleft {
    display: inline-block;
    float: left;
}
.bgright {
    display: inline-block;
    float: right;
}
h2.main-heading small {
    display: block;
    font-size: 18px;
    text-transform: none;
    margin-top: 10px;
    color: #888;
}
h2.main-heading {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 30px;
}
.thumbnail-wrapper {
    min-height: 450px !important;
}
.content_image, .thumbnail-wrapper {
    position: relative;
}
.thumbnail .caption {
    position: relative;
    font-size: 15px;
    color: #666;
    padding: 30px !important;
}
.thumbnail .img-wrapper {
    height: 243px;
    overflow: hidden;
}
    .thumbnail .img-wrapper img {
        min-width: 100%;
    }
.thumbnail {
    line-height: 30px;
}
    .thumbnail .caption h3 {
        margin-top: 5px;
        font-size: 20px;
        margin-bottom: 5px;
    }

.thumbnail-wrapper > .thumbnail {
    min-height: inherit;
}
a.thumbnail {
    text-decoration: none;
}
.thumbnail {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
    .thumbnail .caption:before {
        position: absolute;
        bottom: 100%;
        left: 25px;
        border-bottom: 18px solid #fff;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
.content_image .share-icons, .thumbnail-wrapper .share-icons {
    position: absolute;
    top: 10px;
    right: 10px;
}
.share-icons a {
    height: 30px;
    line-height: 30px;
    padding: 0;
    color: #000;
}
.share-icons a {
    display: inline-block;
    color: #E94D1A;
    border: 2px solid #E94D1A;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-left: 7px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.dark-bg {
    background: #21215b;
    padding-bottom: 40px;
}
.light-bg {
    background: #d8d7e5;
    padding-bottom: 40px;
}
.btn-wrapper {
    text-align: center;
    margin-top: 20px;
}
a.btn-more {
    text-transform: capitalize;
    color: #000;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}
.dark-bg a.btn-more {
    color: #fff;
}
.btn-more:after {
    content: "\f055";
    display: block;
    font-family: FontAwesome;
    width: 50px;
    margin: 0 auto;
    height: 13px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.container-fluid {
    width: 100%;
    max-width: 1270px;
}
.media-bg {
    height: 300px;
    background: #E94D1A;
}
.media-sec-bg {
    background: #DDE1E3;
}
.media-bg h3 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align:center;
    text-transform: uppercase;
    padding-top: 150px;
    margin-bottom: 30px;
}
#cd {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
.cont {
    max-width: 1000px;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .bgleft, .bgright {
        display: none !important;
    }
}
.bios-wrapper {
    min-height: 100% !important;
}

.bios .caption {
    position: relative;
    font-size: 15px;
    color: #666;
    padding: 30px !important;
}
.bios {
    line-height: 30px;
}

    .bios .caption h3 {
        margin-top: 5px;
        font-size: 20px;
        margin-bottom: 5px;
    }

.bios-wrapper > .bios {
    min-height: inherit;
}

a.bios {
    text-decoration: none;
}

.bios {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.bios {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

    .bios .caption:before {
        position: absolute;
        bottom: 100%;
        left: 25px;
        border-bottom: 18px solid #fff;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
.ms-grid-item {
    width: 33.33%;
    padding: 5px;
    float: left;
}
    .ms-grid-item.album a {
        display: block;
        background: #fff;
        padding: 0;
        height: auto;
        overflow: auto;
    }
.thumbnail-wrapper > .thumbnail {
    min-height: inherit;
}
.thumbnail-wrapper {
    min-height: 400px !important;
}
.content_image, .thumbnail-wrapper {
    position: relative;
      
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
    .content_image .share-icons, .thumbnail-wrapper .share-icons-bg {
        position: absolute;
        top: 20px;
        right: 10px;
    }
.share-icons-bg a {
    height: 30px;
    line-height: 30px;
    padding: 0;
    color: #000;
}

.share-icons-bg a {
    display: inline-block;
    color: #000;
    border: 2px solid #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-left: 7px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.card-images {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    margin: 0 20px;
    height: 300px;
    /* width: 266px !important; */
    cursor: pointer;
    margin-bottom: 10px;
    background: #FFF;
}
.owl-slider .owl-carousel, .card-image .item img {
    width: 100%;
    overflow: hidden;
}
@media (max-width: 450px) {
    .ms-grid-item {
        width: 100%;
        padding: 5px;
    }
}
